<mat-card class="product-card custom-card">
  <div class="product-card_header">
    <button mat-icon-button class="product-card_header-button">
      <mat-icon class="material-symbols-outlined">favorite</mat-icon>
    </button>
    <button mat-icon-button class="product-card_header-button">
      <mat-icon class="material-symbols-outlined">hourglass_empty</mat-icon>
    </button>
  </div>
  <img class="product-card_img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>

    <p class="product-card_desc">The Shiba Inu is the smallest of the six</p>


    <div class="product-card_rate">
      <mat-icon class="product-card_rate-icon">star</mat-icon>
      <mat-icon class="product-card_rate-icon">star</mat-icon>
      <mat-icon class="product-card_rate-icon">star</mat-icon>
      <mat-icon class="product-card_rate-icon">star</mat-icon>
      <mat-icon class="product-card_rate-icon">star</mat-icon>
      <span class="product-card_reviews">10 reviews</span>
    </div>

    <div class="product-card_footer">
      <div class="product-card_price">22 $</div>
      <button mat-icon-button>
        <mat-icon class="material-symbols-outlined" >shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
