<mat-card class="product-card custom-card">

  <div class="product-card_header">
    <button mat-icon-button class="product-card_header-button">
      <mat-icon class="material-symbols-outlined">favorite</mat-icon>
    </button>
    <button mat-icon-button class="product-card_header-button">
      <mat-icon class="material-symbols-outlined">hourglass_empty</mat-icon>
    </button>
  </div>

  <img class="product-card_img" mat-card-image src="{{product.img}}" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p class="product-card_desc">{{product.title}}</p>
    <div class="product-card_rate">
      <app-star-rating [productRating]="product.rating"></app-star-rating>
      <span class="product-card_reviews">{{product.reviews.length}} reviews</span>
    </div>


    <div class="product-card_footer">
      <div class="product-card_price">{{product.price}} $</div>
      <button mat-icon-button>
        <mat-icon class="material-symbols-outlined" >shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
