<div class="btn-wrapper">
  <button mat-icon-button
          (click)="update()"
          aria-label="view product">
    <mat-icon class="material-symbols-outlined">pageview</mat-icon>
  </button>
  <button mat-icon-button
          (click)="update()"
          aria-label="edit product">
    <mat-icon class="material-symbols-outlined">edit</mat-icon>
  </button>
  <button mat-icon-button
          (click)="delete()"
          aria-label="delete product">
    <mat-icon class="material-symbols-outlined">delete</mat-icon>
  </button>
</div>
